extends layout

block content
	script(type="text/javascript", async=true, src="/javascripts/login.js")
	form(
		name="loginForm"
		method="POST",
		action="/login"
	)
		div(class="form-group")
			label(for="login") Login
			input(type="text", name="login", class="form-control is-invalid", placeholder="Login")
			div(class="invalid_user") User do not exist. Please go to 
				a(href="/registration", class="registration_link") registration page
		div(class="form-group")
			label(for="password") Password
			input(type="password", name="password", class="form-control", placeholder="Password")
		button(type="button", class="btn btn-primary", onClick="sendUserDate()") SIGN IN
