body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.invalid_user {
	color: red;
	display: none;
}

.registration_link {
	color: #0275d8;
	text-decoration: none !important;
	cursor: pointer;
}

.active {
	display: block;
}
